<div class="bestsellers" id="bestsellers">

	<script type="text/template" id="templateBestsellers">
		<div class="bestsellers__item">
			<a href="javascript:void(0);">
				<img src="img/bestsellers/{{img}}" 
				alt="product"
				class="bestsellers__img">
			</a>
			<div class="bestsellers__subscribe">
				<h4 class="bestsellers__head">{{name}}</h4>
				<p class="bestsellers__desc">
					{{discription}}
				</p>
				<div class="bestsellers__sales">
					<p class="bestsellers__sales-price">Price: <span>${{price}}</span></p>
					<p class="bestsellers__sales-counry">Country: <span>{{country}}</span></p>
				</div>
			</div><!-- .bestsellers__subscribe -->
		</div><!-- .bestsellers__item -->
	</script>
	
</div><!-- .bestsellers -->