<div class="bestsellers">
	<div class="bestsellers__item">
		<a href="javascript:void(0);">
			<img src="../img/bestsellers/preview-1.png" 
			alt="product"
			class="bestsellers__img">
		</a>
		<div class="bestsellers__subscribe">
			<h4 class="bestsellers__head">Product name here</h4>
			<p class="bestsellers__desc">
				Description Lorem ipsum sit am
			</p>
			<div class="bestsellers__sales">
				<p class="bestsellers__sales-price">Price: <span>$110</span></p>
				<p class="bestsellers__sales-counry">Country: <span>US</span></p>
			</div>
		</div><!-- .bestsellers__subscribe -->
	</div><!-- .bestsellers__item -->

	<div class="bestsellers__item">
		<a href="javascript:void(0);">
			<img src="../img/bestsellers/preview-2.png" 
			alt="product"
			class="bestsellers__img">
		</a>
		<div class="bestsellers__subscribe">
			<h4 class="bestsellers__head">Product name here</h4>
			<p class="bestsellers__desc">
				Description Lorem ipsum sit am
			</p>
			<div class="bestsellers__sales">
				<p class="bestsellers__sales-price">Price: <span>$110</span></p>
				<p class="bestsellers__sales-counry">Country: <span>US</span></p>
			</div>
		</div><!-- .bestsellers__subscribe -->
	</div><!-- .bestsellers__item -->

	<div class="bestsellers__item">
		<a href="javascript:void(0);">
			<img src="../img/bestsellers/preview-1.png" 
			alt="product"
			class="bestsellers__img">
		</a>
		<div class="bestsellers__subscribe">
			<h4 class="bestsellers__head">Product name here</h4>
			<p class="bestsellers__desc">
				Description Lorem ipsum sit am
			</p>
			<div class="bestsellers__sales">
				<p class="bestsellers__sales-price">Price: <span>$110</span></p>
				<p class="bestsellers__sales-counry">Country: <span>US</span></p>
			</div>
		</div><!-- .bestsellers__subscribe -->
	</div><!-- .bestsellers__item -->

	<div class="bestsellers__item">
		<a href="javascript:void(0);">
			<img src="../img/bestsellers/preview-2.png" 
			alt="product"
			class="bestsellers__img">
		</a>
		<div class="bestsellers__subscribe">
			<h4 class="bestsellers__head">Product name here</h4>
			<p class="bestsellers__desc">
				Description Lorem ipsum sit am
			</p>
			<div class="bestsellers__sales">
				<p class="bestsellers__sales-price">Price: <span>$110</span></p>
				<p class="bestsellers__sales-counry">Country: <span>US</span></p>
			</div>
		</div><!-- .bestsellers__subscribe -->
	</div><!-- .bestsellers__item -->
</div><!-- .bestsellers -->