<div class="content">
	<section class="content-head">
		<div class="content-head__title">Page Title</div>
		<div class="content-head__description">
			Page description The quick, brown fox jumps over a lazy dog. DJs flock by when TV ax quiz prog.
		</div>
	</section><!-- .content-head -->

	<section class="content-main">
		<main class="main">
			//= slider.html
			<h3 class="main-title">Featured products</h3>
			//= products.html
			//= pagination.html
		</main>
		<aside class="aside">
			<h3 class="main-title">SoRt products</h3>
			//= sort.html
			<h3 class="main-title">Best Sellers</h3>
			//= bestsellers.html
			<h3 class="main-title">Payment options</h3>
			//= payment.html
		</aside>
	</section><!-- .main-content -->
</div>