<div class="content">
	<section class="content-head">
		<div class="content-head__title">Page Title</div>
		<div class="content-head__description">
			Page description The quick, brown fox jumps over a lazy dog. DJs flock by when TV ax quiz prog.
		</div>
	</section><!-- .content-head -->

	<section class="content-main">
		<main class="main">
			//= slider.html
			<h3 class="main-title">Featured products</h3>
			//= products.html
			//= pagination.html
		</main>
		<aside class="aside"></aside>
	</section><!-- .main-content -->
</div>