<header class="header">
	<div class="header-top">
		<p class="header-top__text">
			The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
		</p>
		<ul class="header-top__link">
			<li class="header-top__link-item active"><a href="#" class="header-top__link-anchor">
				My account
			</a></li>
			<li class="header-top__link-item"><a href="#" class="header-top__link-anchor">
				Wishlist
			</a></li>
			<li class="header-top__link-item"><a href="#" class="header-top__link-anchor">
				Contact
			</a></li>
		</ul>
	</div><!-- .header-top -->

	<div class="header-center">
		<div class="logo">
			<h1 class="logo__head">
				Mihstore
			</h1>
			<span class="logo__subscribe">
				Free psd template by ICEwave Design
			</span>
		</div><!-- .logo -->

		<div class="social">
			<ul class="social__list">
				<li class="social__item"><a href="#" class="social__link">
					<img src="img/social/rss.png" alt="rss">
				</a></li>
				<li class="social__item"><a href="#" class="social__link">
					<img src="img/social/twitter.png" alt="twitter">
				</a></li>
				<li class="social__item"><a href="#" class="social__link">
					<img src="img/social/facebook.png" alt="facebook">
				</a></li>
				<li class="social__item"><a href="#" class="social__link">
					<img src="img/social/stumbleupon.png" alt="stumbleupon">
				</a></li>
				<li class="social__item"><a href="#" class="social__link">
					<img src="img/social/myspace.png" alt="myspace">
				</a></li>
			</ul>
		</div><!-- .social -->
	</div><!-- .header-center -->

	<div class="header-bottom">
		<nav class="menu">
			<ul class="menu__list">
				<li class="menu__item active"><a href="#" class="menu__link">
					Products
				</a></li>
				<li class="menu__item"><a href="#" class="menu__link">
					ideas
				</a></li>
				<li class="menu__item"><a href="#" class="menu__link">
					Brands
				</a></li>
				<li class="menu__item"><a href="#" class="menu__link">
					Gifts
				</a></li>
				<li class="menu__item"><a href="#" class="menu__link">
					Stores
				</a></li>
			</ul>
		</nav>

		<div class="s-cart">
			<span class="s-cart__title">Shopping cart:</span>
			<span class="s-cart__count">3 items</span>
			<span class="s-cart__summ">70$</span>
			<span class="s-cart__dropdown"><img src="../img/dropdownBtn.png" alt="icon"></span>
		</div><!-- .s-cart -->
	</div><!-- .header-bottom -->
</header>