<main class="main">
	<section class="main-head">
		<div class="main-head__title">Page Title</div>
		<div class="main-head__description">
			Page description The quick, brown fox jumps over a lazy dog. DJs flock by when TV ax quiz prog.
		</div>
	</section><!-- .main-head -->

	<section class="main-content">
		<div class="main-content__top">
			<div class="main-content-left">
				//= slider.html
			</div>
			<div class="sort main-content-right">
				
			</div>
		</div>
		<div class="main-content__center"></div>
		<div class="main-content__bottom"></div>
	</section><!-- .main-content -->
</main>