<div class="payment">
	<img src="img/payment/PayPal.png" alt="PayPal" class="payment__img">
	<img src="img/payment/Visa.png" alt="Visa" class="payment__img">
	<img src="img/payment/Wirecard.png" alt="Wirecard" class="payment__img">
	<img src="img/payment/Mastercard.png" alt="Mastercard" class="payment__img">
	<img src="img/payment/Maestro.png" alt="Maestro" class="payment__img">
	<img src="img/payment/Cash.png" alt="Cash" class="payment__img">
	<img src="img/payment/PayPal.png" alt="PayPal" class="payment__img">
	<img src="img/payment/Visa.png" alt="Visa" class="payment__img">
	<img src="img/payment/Wirecard.png" alt="Wirecard" class="payment__img">
</div><!-- .payment -->