<div class="product">
	<div class="product-card product-card--50">
		<img src="../img/product/preview-1.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card product-card--30">
		<img src="../img/product/preview-2.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card product-card--20">
		<img src="../img/product/preview-3.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card">
		<img src="../img/product/preview-4.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card">
		<img src="../img/product/preview-5.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card">
		<img src="../img/product/preview-6.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card">
		<img src="../img/product/preview-7.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card">
		<img src="../img/product/preview-8.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->

	<div class="product-card">
		<img src="../img/product/preview-9.jpg" 
			class="product-card__img" 
			alt="preview">
		<div class="product-card__subscribe">
			<p class="product-card__name">Pure Slim Xe</p>
			<p class="product-card__price">$60.00</p>
		</div>
	</div><!-- .product__card -->
</div><!-- .product -->