<div class="slider">
	<div class="slider__item">
		<div class="slider__title">
			<span class="slider__title-top">shop</span>
			<span class="slider__title-center">women</span>
			<span class="slider__title-bottom">shoes fall 2011</span>
		</div>
		<div class="slider__link">
			<span class="slider__link-text">view more</span>
		</div>
		<img src="../img/slider/1518803775_96.jpg" 
			class="slider__foto slider__foto--left" 
			alt="shoes">
		<img src="../img/slider/65eb8962356c843e7b933047a4acf145.jpg"	
			class="slider__foto slider__foto--right" 
			alt="shoes">
	</div><!-- .slider__item -->

	<div class="slider__item">
		<div class="slider__title">
			<span class="slider__title-top">shop</span>
			<span class="slider__title-center">women</span>
			<span class="slider__title-bottom">shoes fall 2011</span>
		</div>
		<div class="slider__link">
			<span class="slider__link-text">view more</span>
		</div>
		<img src="../img/slider/1518803775_96.jpg" 
			class="slider__foto slider__foto--left" 
			alt="shoes">
		<img src="../img/slider/65eb8962356c843e7b933047a4acf145.jpg"	
			class="slider__foto slider__foto--right" 
			alt="shoes">
	</div><!-- .slider__item -->
</div><!-- .slider -->