<ul class="sort">
	<li class="sort__item">
		<p class="sort__item-text">Sort by <span>price</span></p>
		<a href="#" class="sort__link">&#9660</a>
	</li>
	<li class="sort__item">
		<p class="sort__item-text">Sort by <span>style</span></p>
		<a href="#" class="sort__link">&#9660</a>
	</li>
	<li class="sort__item">
		<p class="sort__item-text">Sort by <span>colour</span></p>
		<a href="#" class="sort__link">&#9660</a>
	</li>
	<li class="sort__item">
		<p class="sort__item-text">Sort by <span>season</span></p>
		<a href="#" class="sort__link">&#9660</a>
	</li>
	<li class="sort__item">
		<p class="sort__item-text">Sort by <span>rating</span></p>
		<a href="#" class="sort__link">&#9660</a>
	</li>
</ul>